@*No cache headers*@
@{ Response.CacheControl = "no-cache"; }
@{ Response.AddHeader("Pragma", "no-cache"); }
@{ Response.Expires = -1; }
@model POT.DAL.POInternalPrint
@using POT.DAL
@using HSG.Helper
@*{Html.RenderPartial("PrintCustomer", Model);}
<br />
<div style="page-break-after: always">&nbsp;</div>*@
@{Html.RenderPartial("PrintInternal", Model);}