@model System.Web.Mvc.HandleErrorInfo
@using HSG.Helper;
@{ Layout = "";}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head><title>Error</title>
<style type="text/css">
      .error{    color:Red;}
      .smallHeader {FONT-SIZE: 12px;}
      .blackLabel {color:Black;}
      .note {BACKGROUND-COLOR: #ffffcc;}
      </style>
</head>
<body style="font-family:Verdana;font-size:12px">
     @{Html.RenderPartial("ErrUserControl", Model.Exception);}
</body>
</html>

