@{ ViewBag.Title = "Security Violation"; Layout = HSG.Helper.Defaults.masterLayout;}
    <h2>You might have accidently reached in a restricted area!</h2>
    <span class="note error"><b>MESSAGE:</b>
        @ViewData["Message"]
    </span>
